body {
    padding-top: 50px;
    padding-bottom: 0px;
    background-color: ##ececec;
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding 15px;
    background-color: #c3beb3;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;

}
