<div class="jumbotron">
    <h1>Fetch Transactions & Return Json</h1>
    <p class="lead">Seek transactions within an estimated period of time</p>
    <p class="lead">To make your search :</p>
    <p class="lead">1. select time from and time to.</p>
    <p class="lead">2. Press the seek-button!</p>
</div>

<div class="row">
    <div class="col-md-12" style="background-color: #edeff1;">
        <br />
            @using (Html.BeginForm("TimeSelector", "Home", FormMethod.Post, new { id = "submitForm" }))
            {
                <table>
                    <tr>
                        <td>
                            <label>Dato Fra </label>
                            <input type="datetime-local" value="@Html.TextBox("dateTime001")"/>
                        </td>
                        <td>
                            <label>Dato Fra <input type="datetime-local" @Html.TextBox("dateTime002") /></label>
                        </td>
                        <td>
                            <button type="submit" id="btnUpdate" name="Command" value="seek">Seek</button>
                        </td>
                        <td>
                                <button type="submit" id="btnUpdate" name="Command" value="getJson">Get Json</button>
                        </td>
                    </tr>
                </table>
            }
        <br />
    </div>
</div>
