<html>
    <head>

        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <meta charset="utf-8">
        <title>BudgetManager</title>
    </head>
    <body>
        <div class="jumbotron">
            <h2>Fetch Transactions & Return A Json Object</h2>
            <p class="lead">Search for transactions within two dates.</p>
            <p class="lead">To make your search:</p>
            <p class="lead">1. Select the dates you want to search from and to.</p>
            <p class="lead">2. Press the "Search" button.</p>
        </div>

        <div class="row">
            <div class="col-md-12" style="background-color: #edeff1;">
                <br />
                <!-- Add an element that will be targeted by your Datepicker -->
                    @using (Html.BeginForm("TimeSelector", "Home", FormMethod.Post, new { id = "submitForm" }))
                    {
                       
                                    <label>Date From: &nbsp; </label>
                                    <input type="datetime-local" placeholder="Date To" @Html.TextBox("dateTime001")
                              
                                    <label> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Date To: &nbsp;</label>
                                    <input type="datetime-local" placeholder="Date From" @Html.TextBox("dateTime002") 
                                
                                    <button type="submit" id="btnUpdate" name="Command" value="search">&nbsp&nbspSearch</button> 
                                    <button type="submit" id="btnUpdate" name="Command" value="getJson">&nbsp&nbspGet Json (Date)</button><br /><br />
                                    <button type="submit" id="btnUpdate" name="Command" value="Info">&nbsp&nbspShow Transactions</button>
                                    <button type="submit" id="btnUpdate" name="Command" value="Description">&nbsp&nbspUpdate with image</button>
                                    <button type="submit" id="btnUpdate" name="Command" value="Logger">&nbsp&nbspLogger</button>
                                    <button type="submit" id="btnUpdate" name="Command" value="dscr">&nbsp&nbspsend to socket</button>
                                    <button type="submit" id="btnUpdate" name="Command" value="CreateTransactions">&nbsp&nbspCreate Transactions</button> 
                          
                    }
                <br />
            </div>
        </div>
    </body>
</html>



