@model BudgetManager2017.Models.Transaction

@{
    ViewBag.Title = "socket";
    string desription = BudgetManager2017.DataAccess.DAL.Descr;

}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
        <script>
                var sock = new WebSocket("ws://cancercancer.herokuapp.com/");
                //var sock = new WebSocket("ws://localhost:8999");

                sock.onopen = function(e){
                    alert('Socket connected successfully');
                    setTimeout(function(){
                        sock.send("@desription");
                    }, 1000);
                };
                sock.onmessage = function (e) {
                    
                    var server_message = e.data;
                    console.log(server_message);
                    @BudgetManager2017.DataAccess.DAL.Content = ""+server_message;
                    @{ 
                        BudgetManager2017.DataAccess.DAL.Open();
                        BudgetManager2017.DataAccess.DAL.selectLast();
                        BudgetManager2017.DataAccess.DAL.Close();
                        BudgetManager2017.DataAccess.DAL.Open();
                        BudgetManager2017.DataAccess.DAL.UpdateImg();
                        BudgetManager2017.DataAccess.DAL.Close();
                    }
                };
                sock.onclose()
        </script>
</body>
</html>